@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .has-icon-animation {
    @apply duration-200 scale-75 origin-left ease-in-out transform translate-y-[-1.75rem] translate-x-[-42px];
  }

  .has-not-icon-animation {
    @apply duration-200 scale-75 origin-left ease-in-out transform translate-y-[-1.75rem] translate-x-[-14px];
  }
}

@layer base {

  input:not([type='radio']):focus~label,
  textarea:focus~label,
  select:focus~label {
    @apply bg-white px-1 text-cyan-800;
  }

  input:not([type='radio']):not(:focus):not(:placeholder-shown)~label,
  textarea:not(:focus):not(:placeholder-shown)~label,
  select:not(:focus):not(:placeholder-shown)~label {
    @apply bg-white px-1 text-stone-600;
  }

  input:not([type='radio']):not(:focus):placeholder-shown~label,
  textarea:not(:focus):placeholder-shown~label,
  select:not(:focus):placeholder-shown~label {
    @apply duration-200 origin-left ease-in-out transform scale-100 translate-x-0 translate-y-0 text-stone-600;
  }

  input:not([type='radio']):not(:focus):not(:placeholder-shown):disabled,
  textarea:not(:focus):not(:placeholder-shown):disabled,
  select:not(:focus):not(:placeholder-shown):disabled {
    @apply bg-white opacity-50 px-1 text-stone-600 cursor-not-allowed;
  }

  ::-webkit-scrollbar {
    @apply w-3;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-stone-300 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply brightness-90 border border-transparent;
  }
}